main {
  background-color: #262626;
  height: auto;

  section {
    color: var(--white-800);

    .subtitle {
      color: #935ae7e1;
      font-weight: 600;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
